@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
  }
}

@layer components {
  .hero {
    @apply font-bungee text-[clamp(3rem,7cqi,15.1rem)] font-[100] leading-[4.5rem];
  }
}

body {
  background: #000000;
  color: #ffffff;
  font-family: var(--font-monaspaceNeonRegular);
  font-size: 0.7rem;
}
