@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-head-color: #dcfbb7; /* #f8ede3; */
}

@layer base {
  h1 {
    @apply text-xl;
  }
}

@layer components {
  .hero {
    @apply font-bungee text-[clamp(3rem,7cqi,15.1rem)] font-[100] leading-[4.5rem];
  }
  .top-head {
    @apply w-fit border-t-[2.5px] border-t-[var(--top-head-color)] pt-[7.5px] font-semibold text-[0.9rem] text-[var(--top-head-color)] font-cozette;
  }
}

body {
  background: #000000;
  color: #ffffff;
  font-family: var(--font-monaspaceNeonRegular);
  font-size: 0.7rem;
}
